.header {
    display: none;
    width: 100%;
    min-height: 80px;
    height: auto;
    #{$bc}: #1b1b1b62;
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    z-index: 60000;

    &-hamburger{
        margin-left: 50px;
        cursor: pointer;
    }

    @media (max-width : 980px) {
        @include Flex(flex-start , center);
        position: sticky;
        top: 0;
        left: 0;
    }
}