.main{
    width: 70%;
    min-height: 100vh;
    height: auto;
    @include Flex(center , center);
    flex-direction: column;
    color: $fontColor;
    &-h1{
        margin-bottom: 50px;
        font-size: 3rem
    }

    &-list{
        margin-bottom: 50px;
    }

    @media (max-width : 980px) {
        width: 100%;
    }
}