.main{
    width: 70%;
    min-height: 100vh;
    height: auto;
    @include Flex(center , center);
    flex-direction: column;
    color: $fontColor;
    &-h1{
        margin-bottom: 50px;
        font-size: 3rem
    }

    &-list{
        margin-bottom: 50px;
    }
    
    &-link{
        position: relative;
        margin: 30px;
        z-index: 10;
        cursor: pointer;
        font-size: 2rem;
        text-decoration: none;
        color: $fontColor;
        padding: 0;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 5px;
            width: 100%;
            #{$bc}: $otherColor;
            z-index: 8;
            transition: all 0.3s ease-out;
        }
        &:hover::before{
            #{$bc}: #3c415c52;
            height: 25px;
        }
    }

    @media (max-width : 980px) {
        width: 100%;
    }
}