.side-bar{
    min-height: 100vh;
    height: auto;
    width: 30%;
    #{$bc}: $backColor;
    z-index: 600000;
    transition: all 0.5s ease-out;
    @include Flex(center , center);
    flex-direction: column;
    position: sticky;
    top: 0;

    &-ul{
        @include Flex(center , center);
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        color: $fontColor;
        font-size: clamp(2vw , 3vw , 3.5vw);
        position: relative;
        width: 100%;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 4px;
            height: 100%;
            #{$bc}: $fontColor;
        }

        &-li{
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            position: relative;
            width: 80%;
            a{
                text-decoration: none;
                color: inherit;
            }
            &::after{
                content: "";
                position: absolute;
                transition: all 0.3s ease-in-out;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                #{$bc}: $otherColor;
                z-index: -1;
            }
            &:hover::after{
                height: 25px;
                #{$bc}: #3c415c73;
            }
        }
    }

    &-close{
        #{$bc}: rgba(255, 255, 255, 0);
        color: $fontColor;
        border: none;
        outline: none;
        display: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    @media (max-width : 980px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        &-ul{
            font-size: 2rem;
            &::after{
                width: 0;
                height: 0;
            }
        }
        &-close{
            display: flex;
        }
    }
}