.addTask {
    width: 70%;
    min-height: 100vh;
    height: auto;
    @include Flex(center , center);
    &-form{
        width: clamp(70% , 80% , 90%);
        height: auto;
        @include Flex(center , center);
        flex-direction: column;
        padding: 20px;
        #{$bc}: rgba(255, 255, 255, 0.74);
        border-radius: 8px;
        .MuiFormControl-root{
            margin: 10px;
        }
        .addTask-form-submit{
            margin-top: 30px;
        }
    }

    @media (max-width : 980px) {
        width: 100%;
    }
}
.task {
    width: 70%;
    min-height: 100vh;
    height: auto;

    @media (max-width : 980px) {
        width: 100%;
    }
}

.tasks {
    width: 70%;
    min-height: 100vh;
    height: auto;
    @include Flex(space-around , flex-start);
    flex-wrap: wrap;
    padding: 10px;
    .completed-task{
        border: solid 3px rgba(255, 255, 255, 0.226) !important;
        color: rgba(255, 255, 255, 0.226) !important;
    }
    .off-btn-task{
        display: none !important;
    }
    .single-task{
        width: 45%;
        min-height: 250px;
        height: auto;
        margin: 10px;
        border: solid 3px $fontColor;
        border-radius: 10px;
        @include Grid(1fr , 1fr 1fr);
        padding: 10px;
        color: $fontColor;
        &-title , &-time{
            padding-left: 7px;
        }
        &-status-container{
            @include Flex(flex-end , center);
            .task-check , .task-delete{
                margin: 0 10px 0 10px;
                padding: 0 10px 0 10px;
                border-radius: 4px;
                cursor: pointer;
                border: none;
                outline: none;
                text-align: center;
                color: white;
            }
            .task-check{
                #{$bc}: #1E6F5C;
            }
            .task-delete{
                #{$bc}: #CE1212;
            }
        }
        @media (max-width : 865px) {
            width: 95%;
        }
    }

    @media (max-width : 980px) {
        width: 100%;
    }
}